/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-radius: $border-radius;
  border-bottom: $border;
  .tooltiptext {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: 7.5em;
    bottom: 100%;
    left: 50%;
    margin: 0 0 0.5em -3.75em;
    border-radius: $border-radius;
    background-color: $black-300;
    color: $off-white;
    font-size: $font-size-8;
    font-weight: 200;
    text-align: center;
    padding: 0.5em 0;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -0.3125em;
      border-width: 0.3125em;
      border-style: solid;
      border-color: $border-color-tooltip-arrow;
    }
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}
